@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Overpass:wght@400;700&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-orange: hsl(26, 100%, 55%);
  --primary-pale-orange: hsl(25, 100%, 94%);
  --neutral-very-dark-blue: hsl(220, 13%, 13%);
  --neutral-dark-grayish-blue: hsl(219, 9%, 45%);
  --neutral-grayish-blue: hsl(220, 14%, 75%);
  --neutral-light-grayish-blue: hsl(223, 64%, 98%);
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-black: hsl(0, 0%, 0%);
}

body {
  font-size: 16px;
  font-family: "Kumbh Sans", sans-serif;
}

ul {
  list-style: none;
}

/* utility starts*/

.flex {
  display: flex;
}

.flex-space-between {
  justify-content: space-between;
}

/* utility ends*/

.container {
  width: 70%;
  margin: 0 auto;
}

.nav {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-color: antiquewhite;
}

.ham-menu {
  padding: 10px;
  border: 1px solid var(--neutral-white);
  font-size: 20px;
  font-weight: 700;
  opacity: 0.95;
  color: var(--neutral-black);
  position: relative;
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  width: 50%;
  background-color: var(--primary-pale-orange);
  transition: all 0.5s ease-in-out;
}

.ham-menu.ham-open {
  left: 0;
}

.ham-menu ul {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.ham-menu ul li {
  cursor: pointer;
  margin-bottom: 50px;
}

.ham-cross {
  cursor: pointer;
  position: absolute;
  width: 25px;
  top: 2%;
  right: 4%;
}

.nav-left {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-menu {
  display: none;
  padding-top: 8px;
}

.nav-menu img {
  width: 25px;
  cursor: pointer;
}

.nav-links {
  display: flex;
}

.nav-link {
  margin-right: 10px;
  cursor: pointer;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: end;
}
.nav-right img {
  cursor: pointer;
}

.badge-container {
  position: relative;
}
.badge {
  width: 22px;
  height: 22px;
  color: orange;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  position: absolute;
  top: -80%;
  right: -40%;
  border-radius: 50%;
  background-color: rgb(60, 58, 58);
}

.profile-img {
  width: 40px;
  margin-left: 20px;
}

.cart-hover {
  font-size: 14px;
  color: olivedrab;
  padding: 20px;
  opacity: 0.95;
  position: absolute;
  width: 35%;
  /* height: 200px; */
  background-color: antiquewhite;
  top: 105%;
  right: 0;
  /* transition: all 2s ease; */
  /* box-shadow: 2px 2px 0.5; */
}

.divider {
  width: 100%;
  height: 2px;
  margin: 8px 0 5px;
  /* margin: 5px auto; */
  background-color: black;
}

.cart-details {
  display: flex;
  flex-direction: column;
}
.cart-details-top {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
}

.cart-details-top-image {
  display: flex;
  width: 20%;
}

.cart-details-top-image > img {
  width: 100%;
}

.cart-details-top-details {
  width: 75%;
}

.cart-details-top-details-title {
  margin-bottom: 20px;
}
.cart-details-top-details span {
  margin-right: 10px;
}

.cart-details-top-details span:last-child {
  font-weight: 700;
}

.btn-checkout {
  background-color: var(--primary-orange);
  display: block;
  margin: 0 auto;
  padding: 8px;
  width: 90%;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.btn-checkout:hover {
  background-color: var(--primary-pale-orange);
  color: var(--primary-orange);
}

.main-container {
  /* width: 80%; */
  padding: 50px;
  display: flex;
  justify-content: space-between;
}

.main-left,
.main-right {
  width: 45%;
}

.main-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.main-left > img {
  /* width: 500px; */
  width: 100%;
}

.thumbnails {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.thumbnails > img {
  cursor: pointer;
  width: 18%;
}

.thumbnails > img:active {
  border: 1px solid blue;
}

.btn-card {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
}

.count-btn-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.counter {
  display: flex;
  width: 45%;
  cursor: pointer;
}

.counter > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter-items {
  padding: 10px 20px;
  background-color: rgb(191, 194, 197);
  width: 33.33%;
  border: 1px solid rgb(241, 241, 242);
  /* cursor: pointer; */
}

.price {
  font-weight: 600;
  font-size: 24px;
}

.price p {
  font-weight: 400;
  font-size: 14px;
  text-decoration: line-through;
}

.price span {
  font-weight: 400;
  font-size: 12px;
  padding: 5px;
  background-color: orange;
  border-radius: 10px;
  margin-left: 15px;
}

@media screen and (max-width: 1250px) {
  .nav-left {
    width: 70%;
  }
  .cart-hover {
    width: 50%;
  }
}

@media screen and (max-width: 1060px) {
  .nav-left {
    width: 80%;
  }
}

@media screen and (max-width: 970px) {
  .container {
    width: 90%;
  }
  .main-container {
    padding: 10px;
    flex-direction: column;
    align-items: center;
  }
  .main-left {
    margin-bottom: 25px;
  }
  .main-left,
  .main-right {
    width: 90%;
  }

  .main-right-itmes {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 940px) {
  .nav-left {
    width: 85%;
  }
}

@media screen and (max-width: 890px) {
  .container {
    width: 100%;
  }
  .nav-left {
    width: 40%;
  }
  .nav-links {
    display: none;
  }
  .nav-menu {
    display: block;
  }
}

@media screen and (max-width: 700px) {
  .nav-left {
    width: 50%;
  }
}

@media screen and (max-width: 570px) {
  .nav-left {
    width: 60%;
  }

  .count-btn-container {
    flex-direction: column;
  }

  .counter {
    margin-bottom: 20px;
  }

  .counter,
  .btn-card {
    align-self: flex-start;
  }

  .cart-hover {
    width: 70%;
  }

  .ham-menu {
    width: 70%;
  }
}

@media screen and (max-width: 490px) {
  .nav-left-img {
    display: none;
  }

  .cart-hover {
    width: 90%;
  }
}
